@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primario: #8EA681;
    --secondario: #C1744D;
    --realce: #2D4739;
    --texto: #ffffff;
    --fundo: #F9F7F2;
}

body {
    color: var(--fundo);
}

.nav-container {
    width: 100%;
    padding: 32px 32px;
    background-color: var(--primario);
}

.nav-bar {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: 120px;
    background-color: var(--secondario);
    border-radius: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 0 88px;
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    height: 77px;
}

.itens-menu {
    display: flex;
    align-items: center;
    gap: 64px;
    list-style: none;
    font-family: "Poppins", sans-serif;
    color: var(--texto);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.itens-menu li:hover {
    color: var(--realce);
}

.icons-menu {
    display: flex;
    align-items: center;
    gap: 32px;
    cursor: pointer;
}

.hero-section {
    width: 100%;
    background-color: var(--primario);
    box-shadow: 0px 32px 32px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 80px 80px;
    padding: 32px;
}

.hero-section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
}

.hero-text {
    color: var(--texto);
}

.hero-title {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 48px;
    padding-bottom: 32px;
}

.hero-title span {
    color: var(--realce);
}

.hero-btn {
    padding: 16px 32px;
    color: var(--texto);
    font-family: "Poppins", sans-serif;
    background-color: var(--realce);
    border-radius: 32px;
    font-size: 16px;
    font-weight: 500;
    border: none;
}

.img-hero {
    width: 686px;
}

.ratings {
    display: flex;
    justify-content: center;
    gap: 180px;
    padding: 88px 0;
}

.ball {
    width: 136px;
    height: 136px;
    background-color: var(--secondario);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ball p {
    font-family: "Poppins", sans-serif;
    text-align: center;
    line-height: 16px;
    padding-top: 8px;
}

.section-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

.section-products-title {
    color: var(--realce);
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 900;
}

.section-cards-products {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
}

.card-product-img {
    background-color: var(--secondario);
    border-radius: 16px;
    width: 244px;
    height: 328px;
    padding: 16px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.card-product-info p {
    color: var(--realce);
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    margin-top: 8px;
    font-weight: 600;
}

.card-product-price {
    display: flex;
    margin-top: 32px;
    align-items: center;
    justify-content: space-between;
}

.card-product-price p {
    font-weight: 500;
    font-size: 16px;
}

.card-product-price button {
    background-color: var(--realce);
    color: var(--texto);
    border: none;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    border-radius: 32px;
    padding: 0 16px;
}

/* @media (width <= 768px) {
    .nav-container {
        padding: 32px;
    }

    .nav-bar{
        background-color: blue;
    }
} */