@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primario: #8EA681;
    --secondario: #C1744D;
    --realce: #2D4739;
    --texto: #ffffff;
    --fundo: #F9F7F2;
}

body {
    background-color: var(--fundo);
}

.nav-container {
    width: 100%;
    padding: 32px 32px;
    background-color: var(--primario);
}

.nav-bar {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: 120px;
    background-color: var(--secondario);
    border-radius: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 0 88px;
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    height: 77px;
}

.itens-menu {
    display: flex;
    align-items: center;
    gap: 64px;
    list-style: none;
    font-family: "Poppins", sans-serif;
    color: var(--texto);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.itens-menu li:hover {
    color: var(--realce);
}

.icons-menu {
    display: flex;
    align-items: center;
    gap: 32px;
    cursor: pointer;
}

.hero-section {
    width: 100%;
    background-color: var(--primario);
    box-shadow: 0px 32px 32px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 80px 80px;
    padding: 32px;
}

.hero-section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
}

.hero-text {
    color: var(--texto);
}

.hero-title {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 48px;
    padding-bottom: 32px;
}

.hero-title span {
    color: var(--realce);
}

.hero-btn {
    padding: 16px 32px;
    color: var(--texto);
    font-family: "Poppins", sans-serif;
    background-color: var(--realce);
    border-radius: 32px;
    font-size: 16px;
    font-weight: 500;
    border: none;
}

.img-hero {
    width: 686px;
}

.ratings {
    display: flex;
    justify-content: center;
    gap: 180px;
    padding: 88px 0;
}

.ball {
    width: 136px;
    height: 136px;
    background-color: var(--secondario);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ball p {
    font-family: "Poppins", sans-serif;
    text-align: center;
    line-height: 16px;
    padding-top: 8px;
    color: var(--texto);
}

.section-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

.section-products-title {
    color: var(--realce);
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}

.section-products-title h2 {
    font-weight: 800;
}

.section-cards-products {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    position: relative;
    align-items: center;
}

.card-product-img {
    background-color: var(--secondario);
    border-radius: 16px;
    width: 244px;
    height: 328px;
    padding: 16px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.card-product-info p {
    color: var(--realce);
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    margin-top: 8px;
    font-weight: 600;
}

.card-product-price {
    display: flex;
    margin-top: 32px;
    align-items: center;
    justify-content: space-between;
}

.card-product-price p {
    font-weight: 500;
    font-size: 16px;
}

.card-product-price button {
    background-color: var(--realce);
    color: var(--texto);
    border: none;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    border-radius: 32px;
    padding: 0 16px;
}

.plantas-pendentes {
    margin-top: 88px;
}

.arrow-section-products {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    left: -52px;
    rotate: -180deg;
    margin-bottom: 32px;

    path {
        stroke: #2D4739 !important;
    }

    &:last-child {
        right: -52px;
        left: auto;
        rotate: 0deg;
    }
}

.kit-section {
    background-color: var(--primario);
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    width: 100%;
}

.kit-title {
    color: var(--texto);
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    margin-bottom: 40px;

    h2 {
        font-weight: 800;
    }
}

.kit-content {
    display: flex;
    align-items: center;
    gap: 88px;
}

.card-kit-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 15px;
}

.arrow {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-150%);
}

.arrow:first-child {
    left: -4px;
}

.arrow:last-child {
    right: -4px;
}

.plus-sign {
    font-size: 90px;
    color: var(--texto);
    font-family: "Poppins", sans-serif;
    margin: 0 10px;
    padding-bottom: 80px;
    justify-content: center;
}

.kit-product {
    background-color: var(--secondario);
    border-radius: 20px;
    width: 260px;
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.kit-product img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.kit-info {
    color: var(--realce);
    text-align: center;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    margin-top: 8px;
    font-weight: 600;
    line-height: 32px;
}

.suculentas {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 88px;
}

.hands-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;

}

.hands-button button {
    background-color: var(--realce);
    color: var(--texto);
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 40px;
    border: none;
    border-radius: 50px;
    padding: 74px 63px;
    cursor: pointer;
}

.depoiment {
    display: flex;
    flex-direction: column;
    padding: 88px 20px 32px 0px;
    max-width: 1440px;
    margin: 180px auto;
}

.depoiment-title {
    display: flex;
    color: var(--realce);
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: 900;
    justify-content: center;

    h2 {
        font-weight: 800;
        margin-bottom: 16px;
    }
}

.todos-dep-container {
    position: relative;
}

.todos-dep {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 715px;
    padding-left: 32px;

    h3 {
        color: var(--realce);
        font-size: 16px;
        font-family: "Poppins", sans-serif;
    }

    p {
        color: var(--texto);
        font-size: 16px;
        font-family: "Poppins", sans-serif;
    }
}

.dep1,
.dep2,
.dep3 {
    background-color: var(--primario);
    border-radius: 30px;
    width: 565px;
    height: 150px;
    padding: 16px;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.dep2 {
    margin-left: 148px;
}

.plant-depoimento {
    position: absolute;
    right: 0;
    bottom: -10px;
}

.full-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(assets/img-rodape.png);

    .logo-footer {
        margin-right: 240px;
    }

    .footer-info {
        display: flex;
        gap: 56px;

        h3 {
            color: var(--realce);
            font-size: 24px;
            font-family: "Montserrat", sans-serif;
        }

        p {
            color: var(--realce);
            font-size: 16px;
            font-family: "Poppins", sans-serif;
            margin-top: 16px;
            line-height: 30px;
        }
    }

    .contato-footer {
        display: flex;
        flex-direction: column;
    }
}



/* @media (width <= 768px) {
    .nav-container {
        padding: 32px;
    }

    .nav-bar{
        background-color: blue;
    }
} */