@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primario: #8EA681;
    --secondario: #C1744D;
    --realce: #2D4739;
    --texto: #ffffff;
    --fundo: #F9F7F2;
}


.nav-container {
    width: 100%;
    padding: 32px 32px;
    background-color: var(--primario);
}

.nav-bar {
    width: 100%;
    height: 120px;
    background-color: var(--secondario);
    border-radius: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 0 88px;
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
    height: 77px;
}

.itens-menu{
    display: flex;
    align-items: center;
    gap: 64px;
    list-style: none;
    font-family: "Poppins", sans-serif;
    color: var(--texto);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.itens-menu li:hover{
    color: var(--realce);
}

.icons-menu{
    display: flex;
    align-items: center;
    gap: 32px;
    cursor: pointer;
}



/* @media (width <= 768px) {
    .nav-container {
        padding: 32px;
    }

    .nav-bar{
        background-color: blue;
    }
} */